/**
 * @file
 * Layout styling
*/
body {
  background: url('../images/bg.png') #f5f5f5;
  color: #ffffff;
  font-family: Arial,Tahoma,Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body.toolbar-drawer {
  background-position: center 65px !important;
}

/**
 * header
*/
#header {
  width: 100%;
}

body.with-slideshow #header {
  margin-bottom: 0px;
}

#header .section {
  height: 100px;
  width: 100%;
}

#site-logo-and-name {
  float: left;
  width: 500px;
}

#site-logo-and-name #logo {
  float: left;
}

#site-logo-and-name #logo img {
	height: 100px;
}

.region-header {
  height: 100px;
  line-height: 100px;
  margin-left: 400px;
  width: 540px;
  z-index: 1000;
}

/**
 * Hightlight
*/
#highlight {
  margin: 0 auto;
  padding: 20px 0;
  width: 400px;
}

#highlight h1,
#highlight h2 {
  border-color: #cccccc;
  border-style: dashed;
  border-width: 1px 0;
  font-family: Arial,Tahoma,Verdana;
  font-size: 22px;
  font-weight: normal;
  padding: 5px 0;
  text-align: center;
}

/**
 * Page wrapper
 */
#page-wrapper {
  margin: 0 auto;
  width: 400px;
}

#main {
  background: url('../images/transoverlay.png');
  border-radius: 30px;
  padding: 30px;
}

/**
 * Footer
 */
#footer {
  bottom: 0;
  clear: both;
  position: absolute;
  width: 100%;
}

#footer .section {
  color: #cccccc;
  font-size: 11px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0;
  text-align: center;
  width: 940px;
}

#footer .section a {
  color: #ffffff;
  text-decoration: none;
}

#footer .section a:hover {
  text-decoration: underline;
}

#footerleft {
  bottom: 60px;
  left: 10px;
  position: fixed;
}

/**
 * maintenance-page
 */
.maintenance-page #site-logo-and-name {
  float: none;
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.maintenance-page #content {
  border-color: #cccccc;
  border-style: dashed;
  border-width: 1px 0;
  font-family: Arial,Tahoma,Verdana;
  font-size: 22px;
  line-height: 30px;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}
